<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mr.com.aimss" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.read_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".AIMSSMobileHomeActivity"
            android:label="@string/title_activity_test_database" >
            <intent-filter>
                <action android:name="com.mr.aimss.HOME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="@string/title_activity_notes" >
            <intent-filter>
                <action android:name="com.mr.aimss.NOTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewNotesActivity"
            android:label="@string/title_activity_new_notes" >
            <intent-filter>
                <action android:name="com.mr.aimss.NEW_NOTES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
